///// FONTS

$font-main: 'Manrope', sans-serif; 
$font-secondary: 'Playfair Display', serif;
$font-third: 'Poppins', sans-serif;

///// FONTS WEIGHT

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

///// COLORS

$color-main: #0E204E;
$color-secondary: #fff;
$color-third: #232323;
$color-fourth: #000;
$color-fifth: #3E3E3E;
$color-six: #263238;
$color-seven: #030033;
$color-eight: #0E3F33;
$color-nine: #8B1827;
$color-ten: #2D2B2B;